body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    padding-left: 30px;

}

#content{
    display: none;
}

.hidden{
    display: none;
}

h1{
    padding-bottom: 1px;
    border-bottom: 1px;
}

h2{
    padding-top: 0px;
    font-size: .5em;
}